<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asshofa.mapper.SpesialisasiMapper">
    <select id="getDataSpesialisasi" resultType="com.asshofa.model.pojo.SpesialisasiPojo">
        select id, spesialisasi
        from spesialisasi
    </select>
</mapper>